@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme {
  --font-display: "Nunito Sans", sans-serif;
  --breakpoint-xs: 480px;
  --breakpoint-3xl: 1920px;

  --color-primary: #2a324b;
  --color-secondary: #f3f3f5;
  --color-accent: #d3af37;
  --textcolor: #1c1c1c;
}
body {
  background-color: var(--color-primary);
}
